@import 'tailwindcss';

@import 'tw-animate-css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: #faf9f6;
    --foreground: #333333;
    --card: #ffffff;
    --card-foreground: #333333;
    --popover: #ffffff;
    --popover-foreground: #333333;
    --primary: #555024;
    --primary-foreground: #faf9f6;
    --secondary: #f5f2e6;
    --secondary-foreground: #4a4a4a;
    --muted: #eae8e3;
    --muted-foreground: #8c8578;
    --accent: #a89f91;
    --accent-foreground: #333333;
    --destructive: #e62b28;
    --destructive-foreground: #ffffff;
    --border: #eae8e3;
    --input: #d1cec7;
    --ring: #a89f91;
    --chart-1: #555024;
    --chart-2: #a3a38d;
    --chart-3: #815c42;
    --chart-4: #e6d4cb;
    --chart-5: #182a45;
    --radius: 0.625rem;
    --sidebar: #faf9f6;
    --sidebar-foreground: #333333;
    --sidebar-primary: #555024;
    --sidebar-primary-foreground: #faf9f6;
    --sidebar-accent: #f5f2e6;
    --sidebar-accent-foreground: #4a4a4a;
    --sidebar-border: #eae8e3;
    --sidebar-ring: #a89f91;
}

.dark {
    --background: #1f1d16;
    --foreground: #faf9f6;
    --card: #2a271d;
    --card-foreground: #faf9f6;
    --popover: #2a271d;
    --popover-foreground: #faf9f6;
    --primary: #eae8e3;
    --primary-foreground: #333333;
    --secondary: #4d4a29;
    --secondary-foreground: #faf9f6;
    --muted: #3b391f;
    --muted-foreground: #d1cec7;
    --accent: #a89f91;
    --accent-foreground: #1f1d16;
    --destructive: #e62b28;
    --destructive-foreground: #ffffff;
    --border: #4d4a29;
    --input: #4d4a29;
    --ring: #a89f91;
    --chart-1: #eae8e3;
    --chart-2: #a3a38d;
    --chart-3: #815c42;
    --chart-4: #e6d4cb;
    --chart-5: #8ca2a8;
    --sidebar: #1f1d16;
    --sidebar-foreground: #faf9f6;
    --sidebar-primary: #eae8e3;
    --sidebar-primary-foreground: #333333;
    --sidebar-accent: #4d4a29;
    --sidebar-accent-foreground: #faf9f6;
    --sidebar-border: #4d4a29;
    --sidebar-ring: #a89f91;
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
